<div class="home-container">
    <div class="home">
        <!-- <button routerLink='login'></button> -->
        <router-outlet></router-outlet>
        <!-- <p>login\register<br/>this is where the login/register will be</p> -->
    </div> 

    <div class="home"> 
       <h1>Why Buy in Our Store ?</h1>

            <p> Ag Shopping Center has a virety of fresh and quality products that are just one click away.
            <br><br>
            we take care of boxing, shipping and payment,
            <br><br>
            all you have to do is tell us what products you want to buy and we will take care of the rest!.
            <br><br>
            Enjoy!</p>
    </div>

    <div class="home">
       <label>Available products in our store: </label>
       <br><br>
       <label>Number of orders submitted in our store: </label>
     </div>









</div>